// sass-lint:disable
.no-radius {
  border-radius: 0 !important;
}

.v-application {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 400 !important;
}
// BARVE ŠOL

$KER: #6a7f10;
$GL: #ffb612;
$GVO: #0075b0;
$SDL: #ff6319;
$SMM: #766a62;
$SCC-default: #002f5f;
$SCC-secondary: #8996a0;

// CUSTOM CSS

.KER-background {
  background-color: $KER !important;
  color: #ffffff !important;
}

.KER-color {
  color: $KER !important;
}

.GL-background {
  background-color: $GL !important;
  color: #ffffff !important;
}

.GL-color {
  color: $GL !important;
}

.GVO-background {
  background-color: $GVO !important;
  color: #ffffff !important;
}

.GVO-color {
  color: $GVO !important;
}

.SDL-background {
  background-color: $SDL !important;
  color: #ffffff !important;
}

.SDL-color {
  color: $SDL !important;
}

.SMM-background {
  background-color: $SMM !important;
  color: #ffffff !important;
}

.SMM-color {
  color: $SMM !important;
}

.SCC-default-background {
  background-color: $SCC-default !important;
  color: #ffffff !important;
}

.SCC-default-color {
  color: $SCC-default !important;
}

.text-wrap {
  overflow-wrap: break-word !important;
}

// VUETIFY CONFIG
